/* Global Styles */
html {
  background-color: #303030;
}

.card-container {
  border: 1px solid GhostWhite;
}

.toolbar-container-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.footer {
  position: absolute;
  bottom: 20px;
  width: 99vw;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-items-column {
  display: flex;
  flex-direction: column;
}

.form-items-row {
  display: flex;
  flex-direction: row;
}

.desktop-form-container {
  margin: 12px;
  padding: 12px;
}

.admin-form-left {
  display: flex;
  flex-direction: row;
}

.admin-ui-container {
  display: flex;
  flex-direction: row;
}

.admin-form-item {
  padding: 6px;
  margin: 6px;
}

p {
  font-size: .8em;
}

/*these containers may end up being identical....
.incident-container {

}

.perpetrator-container {

}

.support-container {

}
*/

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 0px) and (max-device-width : 599px) {

  .landing-page-main-btn {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
    width: 96%;
  }

  .desktop-landing-message {
    display: none;
  }

}

/* Tablets portrait */
@media only screen and (min-device-width : 600px) and (max-device-width : 899px) {

  .landing-page-main-btn-container {
    display: none;
  }

}

/* Tablets landscape */
@media only screen and (min-device-width : 900px) and (max-device-width : 1199px) {

  .landing-page-main-btn-container {
    display: none;
  }

}

/* Desktops and Large Laptops */
@media only screen and (min-device-width : 1200px) {

  .landing-page-main-btn-container {
    display: none;
  }

}
