/* Global Styles */
#root {
  background-color: #fafafa
}

html {
  /*background-color: #303030;*/
  font-size: 18px;
}

body {
  margin: 0px;
  background-color: #fafafa !important;
  font-family: 'Poppins', 'Open Sans';
}

ul,menu,dir {
  -webkit-padding-start: 0px;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

h2.button-text {
  height: 1vh;
}

.btn.btn-default {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #636262;
}

.btn.btn-default.report-header-btn {
  height: 50%;
  font-size: 10px;
  background-color: #E21E26;
  width: 125px;;
  font-family: 'Poppins', 'Open Sans';
  color: #EEEEEE;
}

.button-container{
  margin: 42px;
  margin-top: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
  background-color: #fafafa
}

.body-content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #fafafa
}

.footer-navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 101;
  opacity: 100;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  border: 1px solid #F8F8FF;
}

.how-to-small {
  font-size: .6em;
  text-align: center;
  height: 2vh;
  font-style: italic;
}

.how-to-big {
  font-size: .6em;
  text-align: center;
  z-index: 103;
  opacity: 100%;
  position: fixed;
  bottom: 65px;
}

.landing-page-main-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  width: 100%;
}

.resource-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.resource-container {
  border: 1px solid  #303030;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 10px;
  margin: 7px;
}

.resources-container {
  width: 95%;
}

.resource-item {
  display: flex;
  flex-direction: row;
  width: 98%;
  background-color: #F0EBE9;
}

.resource-p-text {
  text-align: center;
  padding-top: 10px;
  font-size: .7em;
}

.resource-name {
  width: 90%;
}

.support-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.toolbar-container {
  display: flex;
  width: 100%;
  height: 70%;
}

.toolbar-container-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.incident {
  /*font-family: 'Poppins', 'Open Sans';
  font-weight: 200;*/
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  position: fixed;
  bottom: 2px;
  width: 94%;
  border: ./colors/red/900;
}

.form-container {
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.form-items-column {
  display: flex;
  flex-direction: column;
}

.form-items-row {
  display: flex;
  flex-direction: row;
}

.desktop-form-container {
  margin: 12px;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
}

.admin-form-left {
  display: flex;
  flex-direction: row;
}

.admin-ui-container {
  display: flex;
  flex-direction: row;
}

.landing-page-main-btn-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reports-page-container {
  margin-top: 70px;
  width: 100%;
  height: 100%;
}

.admin-form-item {
  padding: 6px;
  margin: 6px;
}

#map {
  height: 200px;
  width: 250px;
}

.map-container {
  height: 50%;
}

p {
  font-size: 1em;
}

.svg-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}

.header-navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 101;
}

.status-modal  {
  position: absolute;
  top: 50%;
  left: 50%;
  float: left;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 40vh;
  opacity: 100%;
  z-index: 102;
  padding: 25px;
  background-color: #D32F2F;
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 1px) and (max-device-width : 599px) {

  .desktop-landing-message {
    display: none;
  }

  .home-screen-desktop-header {
    display: none;
  }

}

/* Tablets portrait */
@media only screen and (min-device-width : 600px) and (max-device-width : 899px) {

  .landing-page-main-btn-container {
    display: none;
  }

  .home-screen-mobile-header {
    display: none;
  }

  .desktop-landing-message {
    font-family: 'Open Sans', sans-serif;
  }

}

/* Tablets landscape */
@media only screen and (min-device-width : 900px) and (max-device-width : 1199px) {

  .landing-page-main-btn-container {
    display: none;
  }

  .home-screen-mobile-header {
    display: none;
  }

  .desktop-landing-message {
    font-family: 'Open Sans', sans-serif;
  }

}

/* Desktops and Large Laptops */
@media only screen and (min-device-width : 1200px) {

  .landing-page-main-btn-container {
    display: none;
  }

  .home-screen-mobile-header {
    display: none;
  }

  .desktop-landing-message {
    font-family: 'Open Sans', sans-serif;
  }

}
