/* Global Styles */
html {
  /*background-color: #303030;*/
  font-size: 18px;
}

body {
  margin: 0px;
  color: #fafafa
}

ul,menu,dir {
  -webkit-padding-start: 0px;
}

.button-text {
  height: 1v2h;
}


.button-container{
  margin: 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.body-content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  margin-bottom: 60px
}

.footer-navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 101;
  opacity: 100;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  border: 1px solid #F8F8FF;
}

.landing-page-main-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-header {
  display: flex;
  flex-direction: row;
}

.resource-container {
  border: 1px solid  #303030;
  border-radius: 25px;
  padding: 17px;
  margin: 8px;
}

.resources-container {
  width: 95%;
}

.resource-item {
  display: flex;
  flex-direction: row;
  width: 98%;
  background-color: #F0EBE9;
}

.resource-name {
  width: 90%;
}

.support-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.toolbar-container {
  display: flex;
  width: 100%;
  height: 70%;
}

.toolbar-container-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 100px;
  background-image: url('./SF-BDL-Ladybug-Logo.svg');
  background-size: 75px 55px;
  background-repeat: no-repeat;
  background-position: left center;
}

.incident {
  font-family: 'Open Sans', sans-serif;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  position: fixed;
  bottom: 2px;
  width: 94%;
  border: ./colors/red/900;
}

.form-container {
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.form-items-column {
  display: flex;
  flex-direction: column;
}

.form-items-row {
  display: flex;
  flex-direction: row;
}

.desktop-form-container {
  margin: 12px;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
}

.admin-form-left {
  display: flex;
  flex-direction: row;
}

.admin-ui-container {
  display: flex;
  flex-direction: row;
}

.landing-page-main-btn-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reports-page-container {
  margin-top: 70px;
  width: 100%;
  height: 100%;
}

.admin-form-item {
  padding: 6px;
  margin: 6px;
}

#map {
  height: 200px;
  width: 250px;
}

.map-container {
  height: 50%;
}

p {
  font-size: 1em;
}

.svg-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}

.header-navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 101;
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 1px) and (max-device-width : 599px) {

  .desktop-landing-message {
    display: none;
  }

  .home-screen-desktop-header {
    display: none;
  }

}

/* Tablets portrait */
@media only screen and (min-device-width : 600px) and (max-device-width : 899px) {

  .landing-page-main-btn-container {
    display: none;
  }

  .home-screen-mobile-header {
    display: none;
  }

  .desktop-landing-message {
    font-family: 'Open Sans', sans-serif;
  }

}

/* Tablets landscape */
@media only screen and (min-device-width : 900px) and (max-device-width : 1199px) {

  .landing-page-main-btn-container {
    display: none;
  }

  .home-screen-mobile-header {
    display: none;
  }

  .desktop-landing-message {
    font-family: 'Open Sans', sans-serif;
  }

}

/* Desktops and Large Laptops */
@media only screen and (min-device-width : 1200px) {

  .landing-page-main-btn-container {
    display: none;
  }

  .home-screen-mobile-header {
    display: none;
  }

  .desktop-landing-message {
    font-family: 'Open Sans', sans-serif;
  }

}
